.landing-page,
.landing-page * {
  box-sizing: border-box;
}
.landing-page {
  background: rgba(162, 134, 190, 0.39);
  height: 1024px;
  position: relative;
  overflow: hidden;
}
.bmgt-407 {
  color: #000000;
  text-align: left;
  font-family: "Jersey20-Regular", sans-serif;
  font-size: 48px;
  font-weight: 400;
  position: absolute;
  left: 58px;
  top: 47px;
  width: 219px;
  height: 81px;
}
.homepage {
  color: #000000;
  text-align: left;
  font-family: "Jersey20-Regular", sans-serif;
  font-size: 36px;
  font-weight: 400;
  position: absolute;
  left: 870px;
  top: 59px;
}
.about {
  color: #000000;
  text-align: left;
  font-family: "Jersey20-Regular", sans-serif;
  font-size: 36px;
  font-weight: 400;
  position: absolute;
  left: 1068px;
  top: 59px;
}
.contact {
  color: #000000;
  text-align: left;
  font-family: "Jersey20-Regular", sans-serif;
  font-size: 36px;
  font-weight: 400;
  position: absolute;
  left: 1209px;
  top: 59px;
}
.lets-create-a-website-design {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 60px;
  font-weight: 700;
  position: absolute;
  left: 254px;
  top: 475px;
}
.today-let-s-create-a-sample-website-design-in-figma-and-export-its-corresponding-html-ans-css-code {
  color: #ffffff;
  text-align: center;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 32px;
  font-weight: 700;
  position: absolute;
  left: calc(50% - 532px);
  top: calc(50% - -66px);
}
.rectangle-1 {
  background: #a8ff35;
  border-radius: 10px;
  width: 180px;
  height: 57px;
  position: absolute;
  left: 630px;
  top: 718px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.get-started {
  color: #000000;
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 24px;
  font-weight: 700;
  position: absolute;
  left: 648px;
  top: 732px;
}
