.contact-page,
.contact-page * {
  box-sizing: border-box;
}
.contact-page {
  background: rgba(162, 134, 190, 0.39);
  height: 1024px;
  position: relative;
  overflow: hidden;
}
.bmgt-407 {
  color: #000000;
  text-align: left;
  font-family: "Jersey20-Regular", sans-serif;
  font-size: 48px;
  font-weight: 400;
  position: absolute;
  left: 58px;
  top: 47px;
  width: 219px;
  height: 81px;
}
.homepage {
  color: #000000;
  text-align: left;
  font-family: "Jersey20-Regular", sans-serif;
  font-size: 36px;
  font-weight: 400;
  position: absolute;
  left: 870px;
  top: 59px;
}
.about {
  color: #000000;
  text-align: left;
  font-family: "Jersey20-Regular", sans-serif;
  font-size: 36px;
  font-weight: 400;
  position: absolute;
  left: 1068px;
  top: 56px;
}
.contact {
  color: #000000;
  text-align: left;
  font-family: "Jersey20-Regular", sans-serif;
  font-size: 36px;
  font-weight: 400;
  position: absolute;
  left: 1209px;
  top: 59px;
}
.contact-us {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 48px;
  font-weight: 700;
  position: absolute;
  left: 20px;
  top: 258px;
}
.reach-out-to-the-course-team-for-support-or-inquiries-professor-contact-paul-t-shapiro-pshapiro-umd-edu-add-ta-contact-details-bharath-sreekumar-bsreekum-umd-edu-caifu-lin-clin-0817-terpmail-umd-edu-sumanth-devara-sdevara-umd-edu {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  left: 20px;
  top: calc(50% - 139px);
}
